@charset "utf-8";

.item-table tr td.item_name { padding:20px; text-align:left; color:#2e2929;}
.item-table tr td.item_name .list { color:#2e2929; display:block; }
.item-table tr td.item_name a { font-size:14px; text-decoration:none; color:#2e2929; font-weight:bold; }

#freepass {width:100%;float:left;}
/*  classlist css */
#freepass  { width:100%; }
#freepass  .list_tit .list_word {color:#999; font-size:12px; letter-spacing:-1px; float:right; }
#freepass  ul { padding:0; width:100%; margin:0; position:relative; overflow:hidden;}
#freepass  li {list-style:none; position:relative;}
#freepass  li.box-bottom { width:960px; padding:15px 0; margin-bottom:20px;}

/* class_content*/
#freepass .class_content {margin-bottom:100px; }

/* thumbnail*/
#freepass  .thumbnail {float:left; text-align:center; width:100px; margin-left:20px; }

/* content */

#freepass  .summary {float:left; margin:15px 0 0 20px; width:83%;}
#freepass  .summary .sub_tit {color:#b5590e;}
#freepass  .summary .item_tit a {text-decoration:none; font-size:16px; color:#000; font-weight:bold;}
#freepass  .summary .item_tit a:hover {text-decoration:underline;}
#freepass  .summary .period {margin:10px 0 5px 0; }

/* class_bg */
#freepass  .summary .class_bg {padding:10px 0 0 15px; *padding-bottom:10px;  overflow:hidden; margin:5px 1px; background:#f0f0f0; border:1px solid #ccc; box-shadow:inset 0 0 1px #fff;}
#freepass  .summary .class_bg li {float:left; list-style:none; width:100%; }
#freepass  .summary .class_bg .bar_score {float:left; width:400px;  padding:0;}
#freepass  .summary .class_bg .bar_score li {height:18px; width:400px; background:url(../img/bar_off.jpg) repeat-x; padding:0 5px 0 0; margin:0 0 10px 10px;}

/* class_date bar */

#freepass  .summary .class_bg .bar_score li .red_bar {height:13px; width:30%; margin: 2px 5px 0 2px; position:relative; border: solid 1px #ff0000; background: #ff8929; background: -webkit-gradient(linear, left top, left bottom, from(#ff8929), to(#ff7200)); background: -moz-linear-gradient(top,  #ff8929,  #ff7200); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8929', endColorstr='#ff7200');}

#freepass  .summary .class_bg .class_day {float:left; color:#ff6600; font-weight:bold; text-shadow:0 1px 1px #ccc; width:18%; text-align:right;}
#freepass  .summary .class_bg .class_date {font-size:12px; margin:0; padding-left:20px; display:inline-block; }

/* class_attendance bar */

#freepass  .summary .class_bg .bar_score li .blue_bar {height:13px; width:10%; margin: 2px 5px 0 2px; position:relative; border: solid 1px #002aff; background: #2e9aff; background: -webkit-gradient(linear, left top, left bottom, from(#2e9aff), to(#007bfb)); background: -moz-linear-gradient(top,  #2e9aff,  #007bfb); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e9aff', endColorstr='#007bfb');}
#freepass  .summary .class_bg .class_attendance {float:left; color:#2485e9; font-weight:bold; text-shadow:0 1px 1px #ccc; width:18%; text-align:right;}

#freepass .n_class { border-bottom:1px solid #ddd; padding:30px 0; text-align:center; }
#freepass .page-title { font-size:0; }
